html, body {
    scroll-behavior: smooth;
    margin: 0 !important;
    padding: 0 !important;
}

*{
    -ms-overflow-style: none;
}

.chakra-container{
    padding: 0 !important;
    margin: 0 !important;
}

a{
    text-decoration: none !important;
}

/* hide scrollbar for chrome, safari and opera */
::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat.ttf');
}

.text-loading:hover{
    -webkit-background-clip: text;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        background-position: left 1200px top -100px;
    }
    50% {
        background-position: left 1800px top -100px;
    }
    100% {
        background-position: left 2400px top -100px;
    }
}


.waves {
    position:absolute;
    z-index: 0;
    width: 100%;
    height:100%;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}